<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.core.resources.refreshProviders">
      <refreshProvider class="com.zend.studio.workspace.refresher.WorkspaceRefreshProvider" name="Workspace Refresh Provider"></refreshProvider>
   </extension>
</plugin>
